html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  touch-action: none;
  background-color: #545454;
}

#game-root {
  height: 100%;
  touch-action: none;
}

canvas {
  display: block;
  width: 100vw;
  height: 100svh;
}

#final-dialog {
  min-width: 100vw;
  min-height: 100vh;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  &::backdrop {
    background: rgba(0, 0, 0, 0.4);
    animation: backdropAppear 1s;
  }
}

@keyframes appear {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes backdropAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaling {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 100svh;
}

.dialog-content a {
  max-width: 70%;
  max-height: 20%;
  min-height: 20%;
  outline: none;
  transition: all 0.6s ease;
  &:hover {
    transform: scale(1.1);
  }
}

#button-play-now-logo {
  animation: appear 1s;
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#final-logo {
  will-change: transform;
  max-height: 40%;
  object-fit: contain;
  display: block;
  width: 60%;
  animation:
    appear 1s,
    5s scaling 1.2s ease-in-out infinite;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
